.home{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home::before{
    content: "";
    position: absolute;
    width: 2000px;
    height: 1440px;
    right: 1px;
    background-color: black;
    background-image: url(../img/jojo\ tent2\ 1\ \(1\).png);
    top: 130px;
    background-repeat: no-repeat;
    background-size: cover;
  }