@font-face {
    font-family: "sf_fedora";
    src: local(sf_fedora)  url(../CSS/font/sf-fedora.shadow.ttf);
}

.logo{
    font-size: 10rem;
    position: absolute;
    width: 643px;
    height: 80px;
    left: 10px;
    font-size: 80px;
    top: 10px;
    font-family: 'Dancing Script', cursive;
}




