.familia-part4{
    width: 2000px;
    height: 1440px;
    position: relative;
    top: -304px; 
}

.sobre-autor{
    position: relative;
    right: -40%;
    color: yellow;
    font-family: 'Dancing Script', cursive;
    font-size: 150px;
    top: -1550px;   
}