.section-title{
    position: absolute;
    font-family: 'Dancing Script', cursive;
    grid-area: title;
    font-size: 300px;
    left: 100px;
    text-align: left;
    top: 500px;
    color: white;
    left:  20%;
}

